window {
margin: 0px;
border: 2px solid #414868;
border-radius: 5px;
background-color: #24283b;
font-family: monospace;
font-size: 12px;
}




#inner-box {
margin: 5px;
border: none;
background-color: #24283b;
}

#outer-box {
margin: 5px;
border: none;
background-color: #24283b;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
} 

#entry:selected {
	background-color: #414868;
	font-weight: normal;
}

#text:selected {
	background-color: #414868;
	font-weight: normal;
}

#input {
width:0px;
height: 0px;
margin: 0px;
color: #c0caf5;
background-color: #24283b;
}

#input image {
	color: rgba(0,0,0,0);
}
